<h1>Signature</h1>

<div style="display: flex">
  <div style="border: 1px solid black">
    <signature-pad
      [options]="signaturePadOptions"
      (onEndEvent)="drawComplete()">
    </signature-pad>
  </div>
</div>

<div
  [style]="{ width: signaturePadOptions.canvasWidth + 'px' }"
  style="display: flex; justify-content: end">
  <button type="button" style="margin-top: 1rem" (click)="clearSignaturePad()">
    Clear
  </button>
</div>

<h2>Output</h2>

<textarea
  readonly
  rows="20"
  style="word-wrap: break-word; padding: 0; margin: 0"
  [style]="{
    width: signaturePadOptions.canvasWidth + 'px'
  }"
  [value]="output">
</textarea>
